{% extends 'base.html.twig' %}

{% block title %}My Orders List {% endblock %}

{% block body %}
<ul class="nav justify-content-center" style="margin-top:20px;font-size: larger;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Nike Store</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('home')}}">Home</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="{{path('user_order_list')}}">Mon panier</a>
           <a class="dropdown-item" href="{{path('home')}}">Mes achats</a>
       </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if not app.user %}
           <a class="dropdown-item" href="{{path('app_register')}}">Sign up</a>
           <a class="dropdown-item" href="{{path('app_login')}}">Sign in</a>
        {% else %}
          <a class="dropdown-item" href="#">{{app.user.email}}</a>
          <a class="dropdown-item" href="{{path('app_logout')}}">Lougout</a>
        {% endif %}
      </div>
    </li>
        {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{path('product_list')}}">Products</a>
                      <a class="dropdown-item" href="{{path('product_store')}}">Create Product</a>
            </div>
      </li>
        {% endif %}
  </ul>
<div class="row my-5">
        <div class="col-md-10 mx-auto">
             {%for message in app.flashes('success')%}
             <div class="alert alert-success">
               {{message}}
             </div>
            {% endfor %}
            <div class="card">
                <div class="card-header">
                      My Orders History
                </div>
               <div class="card-body">
                <table class="table table-bordered table-hover">
                <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Product Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if orderHistory|length == 0 %}
                                <tr>
                                    <td colspan="6" class="text-center"><b>No Purchases Here!!</b></td>
                                </tr>
                            {% else %}
                                {% for order in orderHistory %}
                                    {% set total = order.price %}
                                    <tr>
                                        <td class="text-center">{{ loop.index }}</td>
                                        <td>{{ order.pname }}</td>
                                        <td class="text-center">{{ order.price }}</td>
                                        <td class="text-center">{{ order.statut }}</td>
                                        <td class="text-center">{{ total }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>

        </table>
       </div>
        </div> 
            </div>
        </div>
</div>

{% endblock %}
